In [1]:
from sedona.spark import *
from pyspark.sql.functions import col, sum, avg, regexp_replace, broadcast, trim, format_number, concat, lit, round
from pyspark.sql import SparkSession
import time
from pyspark.sql.types import FloatType,IntegerType
import pandas as pd
import csv



spark = SparkSession.builder \
    .appName("Crime - Income GeoAnalysis") \
    .getOrCreate()

# Access configuration
conf = spark.sparkContext.getConf()

# Print relevant executor settings
print("Executor Instances:", conf.get("spark.executor.instances"))
print("Executor Memory:", conf.get("spark.executor.memory"))
print("Executor Cores:", conf.get("spark.executor.cores"))

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Executor Instances: None
Executor Memory: 4743M
Executor Cores: 2

In [2]:

sedona = SedonaContext.create(spark)


#spark.conf.set("spark.sql.autoBroadcastJoinThreshold", "50MB")

geojson_path = "s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Blocks.geojson"
blocks_df = sedona.read.format("geojson") \
    .option("multiLine", "true").load(geojson_path) \
    .selectExpr("explode(features) as features") \
    .select("features.*")

flattened_df = blocks_df.select(
    [col(f"properties.{col_name}").alias(col_name) for col_name in
     blocks_df.schema["properties"].dataType.fieldNames()] + ["geometry"]) \
    .drop("properties") \
    .drop("type")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:

income_df = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/LA_income_2015.csv",
    header=True
).withColumnRenamed("Zip Code", "ZCTA10").withColumn(
    "Estimated_Median_Income",
    regexp_replace(col("Estimated Median Income"), "[$,]", "").cast("double")
    ).drop("Community","Estimated Median Income")

crime_df = spark.read.csv(
    [
        "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv",
        "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv"
    ],
    header=True
).filter((col("LAT").isNotNull()) & (col("LON").isNotNull()))

valid_population_df = flattened_df.select("ZCTA10","COMM","POP_2010","HOUSING10","geometry").filter(
    (col("CITY") == "Los Angeles") &
    (col("ZCTA10") > 0) &
    ((col("POP_2010") > 0) & (col("HOUSING10") > 0)) &
    (trim(col("COMM")) != "")
    ).groupBy("ZCTA10","COMM").agg(sum("POP_2010").alias("Total Population"),sum("HOUSING10").alias("Total Housing"),ST_Union_Aggr("geometry").alias("geometry")
)

crime_with_geometry = crime_df.withColumn("geometry", ST_Point("LON", "LAT")).select("geometry", "Vict Descent") #Vict Descent for Query 4

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [4]:
#explain what method it uses in the default join execution
start_time = time.time()

join_income_df = valid_population_df.join( 
    income_df,
    on="ZCTA10",
    how="inner"
).drop("ZCTA10") \
 .withColumn("Total Income", col("Total Housing") * col("Estimated_Median_Income")) \
 .drop("Estimated_Median_Income") \
 .groupBy("COMM").agg(
     sum("Total Population").alias("Total Population"),
     sum("Total Income").alias("Total Income"),
     ST_Union_Aggr("geometry").alias("geometry")
)

# Προσθήκη explain για το join_income_df
join_income_df.explain(True)

final_calculations_df = join_income_df.join(
    crime_with_geometry,
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
 .withColumn("Crimes per Person", format_number((col("Crime Count") / col("Total Population")), 5)) \
 .withColumn("Median Income Per Person", concat(lit("$"), format_number(round(col("Total Income") / col("Total Population")), 0))) \
 .drop("Total Income") \
 .orderBy("COMM")

# Προσθήκη explain για το final_calculations_df
final_calculations_df.explain(True)

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)
end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

== Parsed Logical Plan ==
'Aggregate ['COMM], ['COMM, sum('Total Population) AS Total Population#378, sum('Total Income) AS Total Income#380, st_union_aggr('geometry, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@35e6bd11, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#385]
+- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Total Income#360]
   +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199, (cast(Total Housing#294L as double) * Estimated_Median_Income#199) AS Total Income#360]
      +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199]
         +- Project [ZCTA10#66, COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199]
            +- Join Inner, (ZCTA10#66 = ZCTA10#194)
               :- Aggregate [ZCTA10#66, COMM#49], [ZCTA10#66, COMM#49, sum(POP_2010#58L) AS Total Population#292L, sum(HOUSING10#55L) AS Total Housing#294L, st_union_aggr(geometry#36, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@70aa419f, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#299]
               :  +- Project [ZCTA10#66, COMM#49, POP_2010#58L, HOUSING10#55L, geometry#36]
               :     +- Filter ((((CITY#47 = Los Angeles) AND (cast(ZCTA10#66 as int) > 0)) AND ((POP_2010#58L > cast(0 as bigint)) AND (HOUSING10#55L > cast(0 as bigint)))) AND NOT (trim(COMM#49, None) = ))
               :        +- Project [ZCTA10#66, COMM#49, POP_2010#58L, HOUSING10#55L, geometry#36, CITY#47]
               :           +- Project [properties#37.BG10 AS BG10#42, properties#37.BG10FIP10 AS BG10FIP10#43, properties#37.BG12 AS BG12#44, properties#37.CB10 AS CB10#45, properties#37.CEN_FIP13 AS CEN_FIP13#46, properties#37.CITY AS CITY#47, properties#37.CITYCOM AS CITYCOM#48, properties#37.COMM AS COMM#49, properties#37.CT10 AS CT10#50, properties#37.CT12 AS CT12#51, properties#37.CTCB10 AS CTCB10#52, properties#37.HD_2012 AS HD_2012#53L, properties#37.HD_NAME AS HD_NAME#54, properties#37.HOUSING10 AS HOUSING10#55L, properties#37.LA_FIP10 AS LA_FIP10#56, properties#37.OBJECTID AS OBJECTID#57L, properties#37.POP_2010 AS POP_2010#58L, properties#37.PUMA10 AS PUMA10#59, properties#37.SPA_2012 AS SPA_2012#60L, properties#37.SPA_NAME AS SPA_NAME#61, properties#37.SUP_DIST AS SUP_DIST#62, properties#37.SUP_LABEL AS SUP_LABEL#63, properties#37.ShapeSTArea AS ShapeSTArea#64, properties#37.ShapeSTLength AS ShapeSTLength#65, ... 2 more fields]
               :              +- Project [features#33.geometry AS geometry#36, features#33.properties AS properties#37, features#33.type AS type#38]
               :                 +- Project [features#33]
               :                    +- Generate explode(features#25), false, [features#33]
               :                       +- Relation [crs#24,features#25,name#26,type#27] geojson
               +- Project [ZCTA10#194, Estimated_Median_Income#199]
                  +- Project [ZCTA10#194, Community#189, Estimated Median Income#190, cast(regexp_replace(Estimated Median Income#190, [$,], , 1) as double) AS Estimated_Median_Income#199]
                     +- Project [Zip Code#188 AS ZCTA10#194, Community#189, Estimated Median Income#190]
                        +- Relation [Zip Code#188,Community#189,Estimated Median Income#190] csv

== Analyzed Logical Plan ==
COMM: string, Total Population: bigint, Total Income: double, geometry: geometry
Aggregate [COMM#49], [COMM#49, sum(Total Population#292L) AS Total Population#378L, sum(Total Income#360) AS Total Income#380, st_union_aggr(geometry#299, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@35e6bd11, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#385]
+- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Total Income#360]
   +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199, (cast(Total Housing#294L as double) * Estimated_Median_Income#199) AS Total Income#360]
      +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199]
         +- Project [ZCTA10#66, COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199]
            +- Join Inner, (ZCTA10#66 = ZCTA10#194)
               :- Aggregate [ZCTA10#66, COMM#49], [ZCTA10#66, COMM#49, sum(POP_2010#58L) AS Total Population#292L, sum(HOUSING10#55L) AS Total Housing#294L, st_union_aggr(geometry#36, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@70aa419f, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#299]
               :  +- Project [ZCTA10#66, COMM#49, POP_2010#58L, HOUSING10#55L, geometry#36]
               :     +- Filter ((((CITY#47 = Los Angeles) AND (cast(ZCTA10#66 as int) > 0)) AND ((POP_2010#58L > cast(0 as bigint)) AND (HOUSING10#55L > cast(0 as bigint)))) AND NOT (trim(COMM#49, None) = ))
               :        +- Project [ZCTA10#66, COMM#49, POP_2010#58L, HOUSING10#55L, geometry#36, CITY#47]
               :           +- Project [properties#37.BG10 AS BG10#42, properties#37.BG10FIP10 AS BG10FIP10#43, properties#37.BG12 AS BG12#44, properties#37.CB10 AS CB10#45, properties#37.CEN_FIP13 AS CEN_FIP13#46, properties#37.CITY AS CITY#47, properties#37.CITYCOM AS CITYCOM#48, properties#37.COMM AS COMM#49, properties#37.CT10 AS CT10#50, properties#37.CT12 AS CT12#51, properties#37.CTCB10 AS CTCB10#52, properties#37.HD_2012 AS HD_2012#53L, properties#37.HD_NAME AS HD_NAME#54, properties#37.HOUSING10 AS HOUSING10#55L, properties#37.LA_FIP10 AS LA_FIP10#56, properties#37.OBJECTID AS OBJECTID#57L, properties#37.POP_2010 AS POP_2010#58L, properties#37.PUMA10 AS PUMA10#59, properties#37.SPA_2012 AS SPA_2012#60L, properties#37.SPA_NAME AS SPA_NAME#61, properties#37.SUP_DIST AS SUP_DIST#62, properties#37.SUP_LABEL AS SUP_LABEL#63, properties#37.ShapeSTArea AS ShapeSTArea#64, properties#37.ShapeSTLength AS ShapeSTLength#65, ... 2 more fields]
               :              +- Project [features#33.geometry AS geometry#36, features#33.properties AS properties#37, features#33.type AS type#38]
               :                 +- Project [features#33]
               :                    +- Generate explode(features#25), false, [features#33]
               :                       +- Relation [crs#24,features#25,name#26,type#27] geojson
               +- Project [ZCTA10#194, Estimated_Median_Income#199]
                  +- Project [ZCTA10#194, Community#189, Estimated Median Income#190, cast(regexp_replace(Estimated Median Income#190, [$,], , 1) as double) AS Estimated_Median_Income#199]
                     +- Project [Zip Code#188 AS ZCTA10#194, Community#189, Estimated Median Income#190]
                        +- Relation [Zip Code#188,Community#189,Estimated Median Income#190] csv

== Optimized Logical Plan ==
Aggregate [COMM#49], [COMM#49, sum(Total Population#292L) AS Total Population#378L, sum(Total Income#360) AS Total Income#380, st_union_aggr(geometry#299, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@35e6bd11, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#385]
+- Project [COMM#49, Total Population#292L, geometry#299, (cast(Total Housing#294L as double) * Estimated_Median_Income#199) AS Total Income#360]
   +- Join Inner, (ZCTA10#66 = ZCTA10#194)
      :- Aggregate [ZCTA10#66, COMM#49], [ZCTA10#66, COMM#49, sum(POP_2010#58L) AS Total Population#292L, sum(HOUSING10#55L) AS Total Housing#294L, st_union_aggr(geometry#36, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@70aa419f, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#299]
      :  +- Project [features#33.properties.ZCTA10 AS ZCTA10#66, features#33.properties.COMM AS COMM#49, features#33.properties.POP_2010 AS POP_2010#58L, features#33.properties.HOUSING10 AS HOUSING10#55L, features#33.geometry AS geometry#36]
      :     +- Filter ((((isnotnull(features#33.properties.CITY) AND isnotnull(features#33.properties.ZCTA10)) AND isnotnull(features#33.properties.POP_2010)) AND isnotnull(features#33.properties.HOUSING10)) AND ((((features#33.properties.CITY = Los Angeles) AND (cast(features#33.properties.ZCTA10 as int) > 0)) AND ((features#33.properties.POP_2010 > 0) AND (features#33.properties.HOUSING10 > 0))) AND NOT (trim(features#33.properties.COMM, None) = )))
      :        +- Generate explode(features#25), [0], false, [features#33]
      :           +- Project [features#25]
      :              +- Filter ((size(features#25, true) > 0) AND isnotnull(features#25))
      :                 +- Relation [crs#24,features#25,name#26,type#27] geojson
      +- Project [Zip Code#188 AS ZCTA10#194, cast(regexp_replace(Estimated Median Income#190, [$,], , 1) as double) AS Estimated_Median_Income#199]
         +- Filter ((cast(Zip Code#188 as int) > 0) AND isnotnull(Zip Code#188))
            +- Relation [Zip Code#188,Community#189,Estimated Median Income#190] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- ObjectHashAggregate(keys=[COMM#49], functions=[sum(Total Population#292L), sum(Total Income#360), st_union_aggr(geometry#299, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@35e6bd11, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None)], output=[COMM#49, Total Population#378L, Total Income#380, geometry#385])
   +- Exchange hashpartitioning(COMM#49, 1000), ENSURE_REQUIREMENTS, [plan_id=144]
      +- ObjectHashAggregate(keys=[COMM#49], functions=[partial_sum(Total Population#292L), partial_sum(Total Income#360), partial_st_union_aggr(geometry#299, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@35e6bd11, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None)], output=[COMM#49, sum#403L, sum#405, buf#407])
         +- Project [COMM#49, Total Population#292L, geometry#299, (cast(Total Housing#294L as double) * Estimated_Median_Income#199) AS Total Income#360]
            +- BroadcastHashJoin [ZCTA10#66], [ZCTA10#194], Inner, BuildRight, false
               :- ObjectHashAggregate(keys=[ZCTA10#66, COMM#49], functions=[sum(POP_2010#58L), sum(HOUSING10#55L), st_union_aggr(geometry#36, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@70aa419f, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None)], output=[ZCTA10#66, COMM#49, Total Population#292L, Total Housing#294L, geometry#299])
               :  +- Exchange hashpartitioning(ZCTA10#66, COMM#49, 1000), ENSURE_REQUIREMENTS, [plan_id=136]
               :     +- ObjectHashAggregate(keys=[ZCTA10#66, COMM#49], functions=[partial_sum(POP_2010#58L), partial_sum(HOUSING10#55L), partial_st_union_aggr(geometry#36, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@70aa419f, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None)], output=[ZCTA10#66, COMM#49, sum#409L, sum#411L, buf#413])
               :        +- Project [features#33.properties.ZCTA10 AS ZCTA10#66, features#33.properties.COMM AS COMM#49, features#33.properties.POP_2010 AS POP_2010#58L, features#33.properties.HOUSING10 AS HOUSING10#55L, features#33.geometry AS geometry#36]
               :           +- Filter ((((isnotnull(features#33.properties.CITY) AND isnotnull(features#33.properties.ZCTA10)) AND isnotnull(features#33.properties.POP_2010)) AND isnotnull(features#33.properties.HOUSING10)) AND ((((features#33.properties.CITY = Los Angeles) AND (cast(features#33.properties.ZCTA10 as int) > 0)) AND ((features#33.properties.POP_2010 > 0) AND (features#33.properties.HOUSING10 > 0))) AND NOT (trim(features#33.properties.COMM, None) = )))
               :              +- Generate explode(features#25), false, [features#33]
               :                 +- Filter ((size(features#25, true) > 0) AND isnotnull(features#25))
               :                    +- FileScan geojson [features#25] Batched: false, DataFilters: [(size(features#25, true) > 0), isnotnull(features#25)], Format: GEOJSON, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Block..., PartitionFilters: [], PushedFilters: [IsNotNull(features)], ReadSchema: struct<features:array<struct<geometry:binary,properties:struct<BG10:string,BG10FIP10:string,BG12:...
               +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=139]
                  +- Project [Zip Code#188 AS ZCTA10#194, cast(regexp_replace(Estimated Median Income#190, [$,], , 1) as double) AS Estimated_Median_Income#199]
                     +- Filter ((cast(Zip Code#188 as int) > 0) AND isnotnull(Zip Code#188))
                        +- FileScan csv [Zip Code#188,Estimated Median Income#190] Batched: false, DataFilters: [(cast(Zip Code#188 as int) > 0), isnotnull(Zip Code#188)], Format: CSV, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/LA_income_2015.csv], PartitionFilters: [], PushedFilters: [IsNotNull(Zip Code)], ReadSchema: struct<Zip Code:string,Estimated Median Income:string>

== Parsed Logical Plan ==
'Sort ['COMM ASC NULLS FIRST], true
+- Project [COMM#49, Total Population#378L, Crime Count#456L, Crimes per Person#461, Median Income Per Person#467]
   +- Project [COMM#49, Total Population#378L, Total Income#380, Crime Count#456L, Crimes per Person#461, concat($, format_number(round((Total Income#380 / cast(Total Population#378L as double)), 0), 0)) AS Median Income Per Person#467]
      +- Project [COMM#49, Total Population#378L, Total Income#380, Crime Count#456L, format_number((cast(Crime Count#456L as double) / cast(Total Population#378L as double)), 5) AS Crimes per Person#461]
         +- Project [COMM#49, Total Population#378L, Total Income#380, count#451L AS Crime Count#456L]
            +- Aggregate [COMM#49, Total Population#378L, Total Income#380], [COMM#49, Total Population#378L, Total Income#380, count(1) AS count#451L]
               +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Within**
                  :- Aggregate [COMM#49], [COMM#49, sum(Total Population#292L) AS Total Population#378L, sum(Total Income#360) AS Total Income#380, st_union_aggr(geometry#299, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@35e6bd11, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#385]
                  :  +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Total Income#360]
                  :     +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199, (cast(Total Housing#294L as double) * Estimated_Median_Income#199) AS Total Income#360]
                  :        +- Project [COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199]
                  :           +- Project [ZCTA10#66, COMM#49, Total Population#292L, Total Housing#294L, geometry#299, Estimated_Median_Income#199]
                  :              +- Join Inner, (ZCTA10#66 = ZCTA10#194)
                  :                 :- Aggregate [ZCTA10#66, COMM#49], [ZCTA10#66, COMM#49, sum(POP_2010#58L) AS Total Population#292L, sum(HOUSING10#55L) AS Total Housing#294L, st_union_aggr(geometry#36, org.apache.spark.sql.sedona_sql.expressions.ST_Union_Aggr@70aa419f, class[value[0]: geometry], class[value[0]: array<geometry>], true, true, 0, 0, None) AS geometry#299]
                  :                 :  +- Project [ZCTA10#66, COMM#49, POP_2010#58L, HOUSING10#55L, geometry#36]
                  :                 :     +- Filter ((((CITY#47 = Los Angeles) AND (cast(ZCTA10#66 as int) > 0)) AND ((POP_2010#58L > cast(0 as bigint)) AND (HOUSING10#55L > cast(0 as bigint)))) AND NOT (trim(COMM#49, None) = ))
                  :                 :        +- Project [ZCTA10#66, COMM#49, POP_2010#58L, HOUSING10#55L, geometry#36, CITY#47]
                  :                 :           +- Project [properties#37.BG10 AS BG10#42, properties#37.BG10FIP10 AS BG10FIP10#43, properties#37.BG12 AS BG12#44, properties#37.CB10 AS CB10#45, properties#37.CEN_FIP13 AS CEN_FIP13#46, properties#37.CITY AS CITY#47, properties#37.CITYCOM AS CITYCOM#48, properties#37.COMM AS COMM#49, properties#37.CT10 AS CT10#50, properties#37.CT12 AS CT12#51, properties#37.CTCB10 AS CTCB10#52, properties#37.HD_2012 AS HD_2012#53L, properties#37.HD_NAME AS HD_NAME#54, properties#37.HOUSING10 AS HOUSING10#55L, properties#37.LA_FIP10 AS LA_FIP10#56, properties#37.OBJECTID AS OBJECTID#57L, properties#37.POP_2010 AS POP_2010#58L, properties#37.PUMA10 AS PUMA10#59, properties#37.SPA_2012 AS SPA_2012#60L, properties#37.SPA_NAME AS SPA_NAME#61, properties#37.SUP_DIST AS SUP_DIST#62, properties#37.SUP_LABEL AS SUP_LABEL#63, properties#37.ShapeSTArea AS ShapeSTArea#64, properties#37.ShapeSTLength AS ShapeSTLength#65, ... 2 more fields]
                  :                 :              +- Project [features#33.geometry AS geometry#36, features#33.properties AS properties#37, features#33.type AS type#38]
                  :                 :                 +- Project [features#33]
                  :                 :                    +- Generate explode(features#25), false, [features#33]
                  :                 :                       +- Relation [crs#24,features#25,name#26,type#27] geojson
                  :                 +- Project [ZCTA10#194, Estimated_Median_Income#199]
                  :                    +- Project [ZCTA10#194, Community#189, Estimated Median Income#190, cast(regexp_replace(Estimated Median Income#190, [$,], , 1) as double) AS Estimated_Median_Income#199]
                  :                       +- Project [Zip Code#188 AS ZCTA10#194, Community#189, Estimated Median Income#190]
                  :                          +- Relation [Zip Code#188,Community#189,Estimated Median Income#190] csv
                  +- Project [geometry#317, Vict Descent#237]
                     +- Project [DR_NO#224, Date Rptd#225, DATE OCC#226, TIME OCC#227, AREA #228, AREA NAME#229, Rpt Dist No#230, Part 1-2#231, Crm Cd#232, Crm Cd Desc#233, Mocodes#234, Vict Age#235, Vict Sex#236, Vict Descent#237, Premis Cd#238, Premis Desc#239, Weapon Used Cd#240, Weapon Desc#241, Status#242, Status Desc#243, Crm Cd 1#244, Crm Cd 2#245, Crm Cd 3#246, Crm Cd 4#247, ... 5 more fields]
                        +- Filter (isnotnull(LAT#250) AND isnotnull(LON#251))
                           +- Relation [DR_NO#224,Date Rptd#225,DATE OCC#226,TIME OCC#227,AREA #228,AREA NAME#229,Rpt Dist No#230,Part 1-2#231,Crm Cd#232,Crm Cd Desc#233,Mocodes#234,Vict Age#235,Vict Sex#236,Vict Descent#237,Premis Cd#238,Premis Desc#239,Weapon Used Cd#240,Weapon Desc#241,Status#242,Status Desc#243,Crm Cd 1#244,Crm Cd 2#245,Crm Cd 3#246,Crm Cd 4#247,... 4 more fields] csv

== Analyzed Logical Plan ==
COMM: string, Total Population: bigint, Crime Count: bigint, Crimes per Person: string, Median Income Per Person: string
Sort [COMM#49 ASC NULLS FIRST], true
+- Project [COMM#49, Total Population#378L, Crime Count#456L, Crimes per Person#461, Median Income Per Person#467]
   +- Project [COMM#49, Total Population#378L, Total Income#380, Crime Count#456L, Crimes per Person#461, concat($, format_number(round((Total Income#380 / cast(Total Population#378L as double)), 0), 0)) AS Median Income Per Person#467]
      +- Project [COMM#49, Total Population#378L, Total Income#380, Crime Count#456L, format_number((cast(Crime Count#456L as double) / cast(Total Population#378L as double)), 5) AS Crimes per Person#461]

In [4]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_replicate_nl").join(
    income_df.hint("shuffle_replicate_nl"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)
join_income_df.show(5)
end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----------------+------------+--------------------+
|                COMM|Total Population|Total Income|            geometry|
+--------------------+----------------+------------+--------------------+
|     Adams-Normandie|            7842| 6.8942616E7|POLYGON ((-118.30...|
|              Alsace|           11728| 1.3181687E8|POLYGON ((-118.36...|
|Angeles National ...|              17|    562353.0|MULTIPOLYGON (((-...|
|    Angelino Heights|            2374|  4.374584E7|POLYGON ((-118.25...|
|              Arleta|           32876|3.98153976E8|POLYGON ((-118.42...|
+--------------------+----------------+------------+--------------------+
only showing top 5 rows

Time taken: 19.16 seconds

In [5]:
start_time = time.time()

final_calculations_df = join_income_df.hint("broadcast").join(
    crime_with_geometry.hint("broadcast"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)
end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 36.84 seconds

In [6]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [7]:
start_time = time.time()

join_income_df = valid_population_df.hint("merge").join(
    income_df.hint("merge"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("merge").join(
    crime_with_geometry.hint("merge"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "merge"  # Replace with the appropriate query ID
Q2 = "merge"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 24.96 seconds
19

In [8]:
parquet_s3_path = "s3://groups-bucket-dblab-905418150721/group17/query4_data.parquet"
final_calculations_df.write.mode("overwrite").parquet(parquet_s3_path)
print(f"Data saved to {parquet_s3_path}")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Data saved to s3://groups-bucket-dblab-905418150721/group17/query4_data.parquet

In [9]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [10]:
start_time = time.time()

join_income_df = valid_population_df.hint("merge").join(
    income_df.hint("merge"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_hash").join(
    crime_with_geometry.hint("shuffle_hash"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "merge"  # Replace with the appropriate query ID
Q2 = "shuffle_hash"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 23.89 seconds
26

In [11]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [12]:
start_time = time.time()

join_income_df = valid_population_df.hint("merge").join(
    income_df.hint("merge"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_replicate_nl").join(
    crime_with_geometry.hint("shuffle_replicate_nl"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "merge"  # Replace with the appropriate query ID
Q2 = "shuffle_replicate_nl"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 20.39 seconds
34

In [13]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [14]:
start_time = time.time()

join_income_df = valid_population_df.hint("merge").join(
    income_df.hint("merge"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("broadcast").join(
    crime_with_geometry.hint("broadcast"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "merge"  # Replace with the appropriate query ID
Q2 = "broadcast"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 20.21 seconds
23

In [15]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [16]:
start_time = time.time()

join_income_df = valid_population_df.hint("broadcast").join(
    income_df.hint("broadcast"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("broadcast").join(
    crime_with_geometry.hint("broadcast"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "broadcast"  # Replace with the appropriate query ID
Q2 = "broadcast"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 21.71 seconds
27

In [17]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [18]:
start_time = time.time()

join_income_df = valid_population_df.hint("broadcast").join(
    income_df.hint("broadcast"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("merge").join(
    crime_with_geometry.hint("merge"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "broadcast"  # Replace with the appropriate query ID
Q2 = "merge"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 20.41 seconds
23

In [19]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [20]:
start_time = time.time()

join_income_df = valid_population_df.hint("broadcast").join(
    income_df.hint("broadcast"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_hash").join(
    crime_with_geometry.hint("shuffle_hash"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "broadcast"  # Replace with the appropriate query ID
Q2 = "shuffle_hash"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.71 seconds
30

In [21]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [22]:
start_time = time.time()

join_income_df = valid_population_df.hint("broadcast").join(
    income_df.hint("broadcast"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_replicate_nl").join(
    crime_with_geometry.hint("shuffle_replicate_nl"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "broadcast"  # Replace with the appropriate query ID
Q2 = "shuffle_replicate_nl"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.38 seconds
38

In [23]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [24]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_hash").join(
    income_df.hint("shuffle_hash"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_replicate_nl").join(
    crime_with_geometry.hint("shuffle_replicate_nl"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_hash"  # Replace with the appropriate query ID
Q2 = "shuffle_replicate_nl"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.36 seconds
41

In [25]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [26]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_hash").join(
    income_df.hint("shuffle_hash"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_hash").join(
    crime_with_geometry.hint("shuffle_hash"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_hash"  # Replace with the appropriate query ID
Q2 = "shuffle_hash"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.12 seconds
33

In [27]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [28]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_hash").join(
    income_df.hint("shuffle_hash"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("broadcast").join(
    crime_with_geometry.hint("broadcast"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_hash"  # Replace with the appropriate query ID
Q2 = "broadcast"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.76 seconds
30

In [29]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [30]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_hash").join(
    income_df.hint("shuffle_hash"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("merge").join(
    crime_with_geometry.hint("merge"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_hash"  # Replace with the appropriate query ID
Q2 = "merge"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.23 seconds
26

In [31]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [32]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_replicate_nl").join(
    income_df.hint("shuffle_replicate_nl"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("merge").join(
    crime_with_geometry.hint("merge"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_replicate_nl"  # Replace with the appropriate query ID
Q2 = "merge"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.56 seconds
34

In [33]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [34]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_replicate_nl").join(
    income_df.hint("shuffle_replicate_nl"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("broadcast").join(
    crime_with_geometry.hint("broadcast"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_replicate_nl"  # Replace with the appropriate query ID
Q2 = "broadcast"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 18.38 seconds
38

In [35]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [36]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_replicate_nl").join(
    income_df.hint("shuffle_replicate_nl"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = join_income_df.hint("shuffle_hash").join(
    crime_with_geometry.hint("shuffle_hash"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_replicate_nl"  # Replace with the appropriate query ID
Q2 = "shuffle_hash"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 18.69 seconds
41

In [37]:
spark.catalog.clearCache()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [38]:
start_time = time.time()

join_income_df = valid_population_df.hint("shuffle_replicate_nl").join(
    income_df.hint("shuffle_replicate_nl"),
    on="ZCTA10",
    how="inner"
    ).drop("ZCTA10")\
    .withColumn("Total Income",col("Total Housing") * col("Estimated_Median_Income")
                ).drop("Estimated_Median_Income")\
    .groupBy("COMM").agg(
        sum("Total Population").alias("Total Population"),
        sum("Total Income").alias("Total Income"),
        ST_Union_Aggr("geometry").alias("geometry")
)

final_calculations_df = crime_with_geometry.hint("shuffle_replicate_nl").join(
    join_income_df.hint("shuffle_replicate_nl"),
    ST_Within(crime_with_geometry.geometry, join_income_df.geometry)
).groupBy(
    "COMM", 
    "Total Population", 
    "Total Income"
).count().withColumnRenamed("count", "Crime Count") \
    .withColumn("Crimes per Person",format_number((col("Crime Count")/col("Total Population")),5)) \
    .withColumn("Median Income Per Person",concat(lit("$"),format_number(round(col("Total Income") / col("Total Population")), 0))) \
    .drop("Total Income") \
    .orderBy("COMM")

final_df = final_calculations_df.select("COMM", "Median Income Per Person", "Crimes Per Person")
final_df.orderBy("COMM").show(30)


end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

log_file_path = "query_methods_time_log.csv"
Q1 = "shuffle_replicate_nl"  # Replace with the appropriate query ID
Q2 = "shuffle_replicate_nl"

# Append data to the file
with open(log_file_path, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([Q1, Q2, f"{elapsed_time:.2f}"])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-----------------+
|                COMM|Median Income Per Person|Crimes Per Person|
+--------------------+------------------------+-----------------+
|     Adams-Normandie|                  $8,791|          0.71487|
|              Alsace|                 $11,240|          0.54161|
|Angeles National ...|                 $33,080|          0.41176|
|    Angelino Heights|                 $18,427|          0.57329|
|              Arleta|                 $12,111|          0.42645|
|     Atwater Village|                 $28,481|          0.52883|
|       Baldwin Hills|                 $17,304|          0.99501|
|             Bel Air|                 $63,041|          0.39923|
|       Beverly Crest|                 $60,947|          0.36896|
|         Beverlywood|                 $29,268|          0.50850|
|       Boyle Heights|                  $8,494|          0.61719|
|           Brentwood|                 $60,847|          0.40586|
|           Brookside|                 $18,139|          0.88567|
|    Cadillac-Corning|                 $19,573|          0.58170|
|         Canoga Park|                 $19,660|          0.55061|
|             Carthay|                 $49,849|          0.76290|
|             Central|                  $6,973|          0.65938|
|        Century City|                 $45,618|          0.63297|
|  Century Palms/Cove|                  $8,610|          1.14465|
|          Chatsworth|                 $30,695|          0.52810|
|       Cheviot Hills|                 $36,601|          0.54295|
|           Chinatown|                 $14,477|          0.72427|
|  Cloverdale/Cochran|                 $14,663|          0.61561|
|   Country Club Park|                 $15,775|          0.71954|
|   Crenshaw District|                 $14,910|          0.89273|
|           Crestview|                 $33,327|          0.66602|
|             Del Rey|                 $33,675|          0.48023|
|            Downtown|                 $19,908|          1.96123|
|          Eagle Rock|                 $20,886|          0.43034|
|      East Hollywood|                 $14,455|          0.71122|
+--------------------+------------------------+-----------------+
only showing top 30 rows

Time taken: 19.72 seconds
49

In [39]:
log_file_path = "query_methods_time_log.csv"
log_df = pd.read_csv(log_file_path, header=None, names=["Q1", "Q2", "Elapsed Time (s)"])
print(log_df)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

                      Q1                    Q2  Elapsed Time (s)
0                  merge                 merge             24.96
1                  merge          shuffle_hash             23.89
2                  merge  shuffle_replicate_nl             20.39
3                  merge             broadcast             20.21
4              broadcast             broadcast             21.71
5              broadcast                 merge             20.41
6              broadcast          shuffle_hash             19.71
7              broadcast  shuffle_replicate_nl             19.38
8           shuffle_hash  shuffle_replicate_nl             19.36
9           shuffle_hash          shuffle_hash             19.12
10          shuffle_hash             broadcast             19.76
11          shuffle_hash                 merge             19.23
12  shuffle_replicate_nl                 merge             19.56
13  shuffle_replicate_nl             broadcast             18.38
14  shuffle_replicate_nl          shuffle_hash             18.69
15  shuffle_replicate_nl  shuffle_replicate_nl             19.72